<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsrap.min.css') }} ">
</head>
<body>
    <div class="conteiner mt-6">
        <h3>REGISTRO DE MASCOTA</h3>
        
        <div class="row" style="display: flex; justify-content: center; align-items: center;">

            <!-- Columna de la mascota -->
            <form action="{{ url_for('guardarMascota') }}" method="post">
                <div class="card">
                    <div class="card-header bg-warning text-white">Información de la mascota</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtNombreMascota">Nombre de la mascota:</label>
                            <input type="text" class="form-control" placeholder="Nombre de su mascota" name="txtNombreMascota" id="txtNombreMascota">
                        </div>
                        <div class="form-group">
                            <label for="txtTipoMascota">Tipo de Mascota:</label>
                            <input type="text" class="form-control" placeholder="Gato, perro, gallina, loro, conejo" name="txtTipoMascota" id="txtTipoMascota">
                        </div>
                        <div class="form-group">
                            <label for="txtRaza">Raza:</label>
                            <input type="text" class="form-control" placeholder="Pitbull,caniche, doberman, fila brasilera" name="txtRaza" id="txtRaza">
                        </div>
                        <div class="form-group">
                            <label for="txtEdad">Edad:</label>
                            <input type="number" class="form-control" placeholder="Edad" name="txtEdad" id="txtEdad">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-warning text-white " name="btnGuardar" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            </form>
          
       
<script src="{{ url_for('static', filename='js/jquery.slim.min.js')}} "></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}} "></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>

</body>
</html>