<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsrap.min.css') }} ">
</head>
<body>
    <div class="conteiner mt-4">

    </div>
    
<script src="{{ url_for('static', filename='js/jquery.slim.min.js')}} "></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}} "></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>

</body>
</html>